.example {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  align-content: center;

}

.example button {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  background-color: cyan;
  border: none;
  border-radius: 8px;

}

.example button:hover {
  background-color: orange;
  color: white;
}